<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table id="myDataTable" class="table" style="width:100%">
        <thead>
        <tr>
          <th class="h5-responsive font-weight-bolder">Title</th>
          <th class="h5-responsive font-weight-bolder">Code</th>
          <th class="h5-responsive font-weight-bolder">Description</th>
          <th class="h5-responsive font-weight-bolder">Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Table body content will be populated by DataTables -->
        </tbody>
      </table>
    </div>
  </div>
</div>
